/* 
# - id=""
. - class=" "
* - all elements

*/

body {
    font-family: 'PT Sans Caption', sans-serif;
    margin: 0;
    color: #333;
}

.header-box {
    background: rgb(125, 148, 199);
    padding: 1%;
    position: sticky;
    font-size: 24px;
    width: 100%;
    margin-bottom: 15px; top: 0px;
    z-index: 1111;
}

.a-social {
    color: #34495e;
    line-height: 1.2;
    padding: 0 14px;
    text-transform: uppercase;
    text-decoration: none; 
}

.a-social:hover {
    color: grey;
}

.a-full-list {
    color: #34495e;
    line-height: 1.2;
    padding: 0 14px;
    text-transform: uppercase;
    text-decoration: none; 
}
.a-full-list:hover {
    color: grey;
}

.main-box {
    display: table;
    position: relative;
    width: 100%;
    height: 100px;
    background-image: url(/images/pexels-efdal-yildiz-917494.jpg) no-repeat center scroll;
    background-size: cover;
}

.awa {
    width: 270px;
    height: 270px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
}

.h1-main-box {
    font-size: 72px;
    font-weight: 700;
    margin: 0;
}

.h2-main-box {
    font-size: 24px;
    font-weight: 500;
    margin: 24px;
}

.info {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

p {
    height: 2222px;
}